@import 'HudUtils';
$chat-width: 60%;
$chat-height: 20%;
$player-name-color: #11C9CC;

.chat-hud {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 1%;
    width: $chat-width;
    @include centerElFromWidth($chat-width); //left
    border-radius: 24px;
    background-color: $hud-bg-color;
    color: $hud-text-color;

    max-height: $chat-height;

    box-sizing: border-box;
    pointer-events: visible;

    .chat-messages {
        overflow: scroll;

        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin-top: 12px;

        .chat-message {
            width: 90%;
            @include centerElFromWidth(90%); //left
            border-radius: 24px;
            background-color: $hud-bg-color;
            color: $hud-text-color;
        
            span.messenger-name {
                color: $player-name-color
            }
        }
    }

    .chat-input {
    
        display: flex;
        justify-content: center;
    
        border-top: 1px solid $border-color;
        width: 100%;
    
        input {
            background-color: $hud-bg-color;
            color: $hud-text-color;
            border: none;
            outline:none;
            outline:0;
            width: 90%;
        }
    }
    
}
