
@import 'HudUtils';
$paginator-width: 20%;

.paginator {
    position: absolute;
    top: 10px;
    width: $paginator-width;
    @include centerElFromWidth($paginator-width);
    min-width: 75px;
    // height: 5%;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;

    border: 1px solid #7b7b7b;
    border-radius: 24px;
    background-color: #3c3c3c;

    color: $hud-text-color;

    pointer-events: visible;
}

.mobile-menu {
    font-size: 12px;
}

.paginator-lat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.paginator-long {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.paginator-icons {
    display: flex;
    justify-content: space-around;
    input {
        /* width: 5%; */
        width: 20px;
    }
}


.paginator-input-time {
    display: flex;
    justify-content: center;
}


.room-display {
    // z-index:10001;
    // border: 1px solid #7b7b7b;
    // border-radius: 24px 24px 0 0;
    // background-color: #3c3c3c;
    /*#e8f1ff;*/

    align-self: center;
    // left: 1%;222
    // margin-left: auto;
    // margin-right: auto;
    // margin-bottom: 10px;
    text-align: center;
    position: relative;
    // top: 10px;
    // width: 15%;
    font-weight: bold;
    font-size: 24px;
    pointer-events: visible;
    color:    #aeaeae;
    // box-shadow: 0 0 5px 1px #edeeee;

    :hover {
        border-radius: 24px;
        .room-links {
            display: block;
        }
    }
}

.paginator-center-col {
    display: flex;
    flex-direction: column;
}


// .current-room {
//     border-bottom: solid;
// }

.room-links {
    display: none;
    
    a:link {
        color: #aeaeae;
    }
    a:hover {
        color: #2AC1DE;
    }
    
    a:visited {
        color: #aeaeae;
    }
    
    a:visited:hover {
        color: #2AC1DE;
    }
    a:visited:active {
        color: #f93;
    }
    
    a:active {
        color: #f93;
    }
}

.mobile-hud {
    font-size: 12px;
}