
@import 'HudUtils';
$paginator-width: 20%;

.paginator {
    position: absolute;
    top: 5.5%;
    width: $paginator-width;
    @include centerElFromWidth($paginator-width);
    min-width: 75px;
    height: 15%;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;

    border: 1px solid #7b7b7b;
    border-radius: 24px;
    background-color: #3c3c3c;

    pointer-events: visible;
}

.mobile-menu {
    font-size: 12px;
}

.pageLeft {
    float: left;
    align-self: center;
    flex-grow: 1;

    width: 0; 
    height: 0; 
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent; 
    
    border-right: 25px solid #aeaeae; 
}

.pageRight {
    float: right;
    align-self: center;
    flex-grow: 1;

    width: 0; 
    height: 0; 
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    
    border-left: 25px solid #aeaeae;
}

.paginatorFill {
    flex-grow: 2;
}

.paginator-latlong {
    display: flex;
    justify-content: space-around;
    input {
        height: 1.5rem;
        min-width: 30px;
        max-width: 50px;
    }
}

// .paginator-latlong input {
//     min-width: 30px;
//     max-width: 50px;
// }

.paginator-lat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.paginator-long {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.paginator-icons {
    display: flex;
    justify-content: space-around;
    input {
        /* width: 5%; */
        width: 20px;
    }
}

// .paginator-icons input {
//     /* width: 5%; */
//     width: 20px;
// }

.paginator-input-time {
    display: flex;
    justify-content: center;
}