.room-display {
    z-index:10001;
    border: 1px solid #7b7b7b;
    border-radius: 24px 24px 0 0;
    background-color: #3c3c3c;
    /*#e8f1ff;*/
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
    position: relative;
    top: 10px;
    width: 15%;
    font-weight: bold;
    font-size: 24px;
    pointer-events: visible;
    color:    #aeaeae;
    box-shadow: 0 0 5px 1px #edeeee;

    :hover {
        border-radius: 24px;
        .room-links {
            display: block;
        }
    }
}


.current-room {
    border-bottom: solid;
}

.room-links {
    display: none;
    
    a:link {
        color: #aeaeae;
    }
    a:hover {
        color: #2AC1DE;
    }
    
    a:visited {
        color: #aeaeae;
    }
    
    a:visited:hover {
        color: #2AC1DE;
    }
    a:visited:active {
        color: #f93;
    }
    
    a:active {
        color: #f93;
    }
}

.mobile-hud {
    font-size: 12px;
}