.loading {
    z-index: 10010;
}
.xr-settings-container {
    z-index: 10005;
}

.xr-settings-menu-toggle {
    pointer-events: visible;

    position: absolute;
    top: 1%;
    width: 5%;
    height: 5%;

    color:    #aeaeae;
}

.desktop-hud .xr-settings-menu-toggle {
    left: 97.5%;
}

.mobile-hud .xr-settings-menu-toggle {
    left: 92.5%;
    font-size: 20px;
}

.xr-help-settings {
    z-index:10005;
    pointer-events: visible;

    display: block;

    border: 1px solid #7b7b7b;
    border-radius: 12px;
    background-color: #2A2A2A;
    color:    #aeaeae;

    padding: 15px;
    position: absolute;
    top: 6%;
    left: 12.5%;
    width: 75%;
    height: 75%;
    box-sizing: border-box;

    align-self: center;
    margin-left: auto;
    margin-right: auto;

    line-height: 2em;
    box-shadow: 0 0 5px 1px #edeeee;
    overflow: scroll;

    .help-header {
        line-height: 1em;
        text-align: center;
        font-size: 1.5em;
        font-weight: bold;
    
        border-bottom: solid;
        margin: -15px;
    }

    input {
        padding: 5px;
        border: 2px solid #ccc;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        font-size: 1em;
    }
}

.settings-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.settings-left {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.settings-right {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.input-sky {
    display: flex;
    /* grid-template-columns: 1fr 1fr; */
    flex-direction: row;

    div {
        margin-inline-end: 10px;
    }
}

// .input-sky div {
//     margin-inline-end: 10px;
// }

.input-map {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.input-quality {
    display: flex;
    flex-direction: row;
    div {
        margin-inline-end: 10px;
    }
}

// .input-quality div {
//     margin-inline-end: 10px;
// }

.floormapsettings {
    select {
        font-size: 1em;
    }
}

.worldmapsettings {
    select {
        font-size: 1em;
    }
}

.setting-title {
    font-size: 1.5em;
    font-weight: bold;
}